<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="vinil, muzică, rock, punk, eroare 403">
        <meta name="descriptions" content="Magazin de muzică. eroare 403">
        <title>Drobeta Records - viniluri</title>

        <link rel="stylesheet" href="/resurse/css/403.css">

        <%- include("../fragmente/head.ejs");
        %>
    </head>

    <body>
        
        <%- include("../fragmente/header.ejs");
        %>

        <main>
            
            <div id="img_locked">
                <figure>
                    <img src="./resurse/imagini/locked_cd.jpg"
                        alt="cd cu lacat" />
                </figure>
            </div>
            <h1 id="iavezi">403 - Ia vezi</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </main>

        <%- include("../fragmente/footer.ejs");
        %>

    </body>

</html>