cos-virtual.ejs
Cine are acces
I
Proprietățile sistemului
Tip
HTML
Mărime
783 de byți
Spațiu de stocare utilizat
783 de byți
Locație
pagini
Proprietar
Irina Ciocan
Modificat la
12 iun. 2021 de Irina Ciocan
Deschis
17:13 de mine
Data creării
17:08
Nicio descriere
Cititorii pot descărca
<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind - cos virtual.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse, cos virtual">
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <title>Cofetăria Dulcelind - cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara">
            Cumpara
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>