<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="vinil, muzică, rock, punk, eroare generala">
        <meta name="descriptions" content="Magazin de muzică. eroare generala">
        <title>Drobeta Records - viniluri</title>

        <link rel="stylesheet" href="/resurse/css/ergen.css">

        <%- include("../fragmente/head.ejs");
        %>
    </head>

    <body>
        
        <%- include("../fragmente/header.ejs");
        %>

        <main>
            
            <div id="img_confused">
                <figure>
                    <img src="./resurse/imagini/confused.jpg"
                        alt="confused" />
                </figure>
            </div>
            <h1 id="ergen">Eroare generala</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </main>

        <%- include("../fragmente/footer.ejs");
        %>

    </body>

</html>