<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="vinil, muzică, rock, punk, pop-punk, midwest-emo, folk-punk, math-rock">
        <meta name="descriptions" content="Magazin de muzică. Secțiune de galerie">
        <title>Drobeta Records - galerie</title>

        <%- include("../fragmente/head.ejs");
        %>
    </head>
    <body>
        <%- include("../fragmente/header.ejs"); 
        %>
        <main>
            <%- include("../fragmente/galerie_statica.ejs"); 
        %>
        <br>
        <br>
        <br>
        <br>
        </main>

        <%- include("../fragmente/footer.ejs"); 
        %>
    </body>
</html>