
<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Individualizare prăjitură</title>
		<%- include("../fragmente/head") %>
        
		<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
		<script src="/resurse/js/info-clienti.js" crossorigin></script>
		<link type="text/css" href="/resurse/css/info-clienti.css"rel="stylesheet" />
	</head>
	<body class="container">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
		
			<section id="info">
				<h2>Informații  pentru clienți</h2>
                <p>Mai deschidem în curând un sediu în orașul Prăjiturești.</p>
				
			</section>
			<section id="prajitura-individualizata">
				<h2>Prăjitură individualizată</h2>
                <p>Având în vedere că nu trebuie să mâncăm noi prăjiturile,
					 ci dumneavoastră, vă permitem să vă faceți singur rețeta și designul prăjiturii. </p>
				<div id="creare-prajitura">
					Se incarca aplicația.
				</div>
				<hr/>
				<section>
					<h3> Exemplu simplu curs</h3>
					<div id="exemplu-curs">
						Se incarca aplicația.
					</div>
				</section>
			</section>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>