<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="keywords" content="vinil, muzică, rock, punk, pop-punk, midwest-emo, folk-punk, math-rock">
        <meta name="descriptions" content="Magazin de muzică. Secțiune de viniluri">
        <title>Drobeta Records - viniluri</title>

        <%- include("../fragmente/head.ejs");
        %>
    </head>

    <body>
        
        <%- include("../fragmente/header.ejs");
        %>

        <main style="text-align: center;">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1><i class="fas fa-hammer fa-bounce"></i> Page under construction!</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </main>

        <%- include("../fragmente/footer.ejs");
        %>

    </body>

</html>