.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.grid section:nth-child(8n+1){
    background-color: blue;
}

.grid section:nth-child(8n+2){
    background-color: white;
}

.grid section:nth-child(8n+3){
    background-color: blue;
}

.grid section:nth-child(8n+4){
    background-color: white;
}

.grid section:nth-child(8n+5){
    background-color: gray;
}

.grid section:nth-child(8n+6){
    background-color: blue;
}

.grid section:nth-child(8n+7){
    background-color: gray;
}

.grid section:nth-child(8n){
    background-color: blue;
}

@media screen and (max-width: 1000px) {

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid section:nth-child(n){
        background-color: white;
    }

.grid h2 + p{
    transition: 3s linear;
}

    .grid h2:hover + p{
        border : 1px solid black;
        transform: rotate(45deg);
    }
    
}