<section id="top"></section>
    <header id="header">
        <script>
            var tema=localStorage.getItem("tema");
    if(tema)
        document.body.classList.add("dark");
    else
        document.body.classList.remove("dark");
        </script>
        <button id="btn_tema"><i class="fas fa-sun" id="pic_tema"></i></button>
        <h1 id="titlusite">Drobeta Records</h1>
        <q><small>Music is the closest thing to a time machine</small></q>
        <div id="navbar">
            <nav>
                <label id="hamburger" for="ch-menu">
                    <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">
                </label>
                <input id="ch-menu" type="checkbox">
                <ul class="menu">
                    <li class="liAcasa"><a href="/index" id="dropdownbtn"><i class="fa-solid fa-house"></i><b class="acasa"> Acasa</b></a>
                        <ul class="submenu">
                            <li><a href="/index#welcome">Welcome</a></li>
                            <li><a href="/index#produsepopulare">Populare</a></li>
                            <li><a href="/index#noutati">Noutati</a></li>
                        </ul>   
                    </li>

                    <li><a href="/viniluri">Viniluri</a>
                        <ul>
                            <li><a href="/viniluri#vPop-Punk">Pop-Punk</a></li>
                            <li><a href="/viniluri#vMidwest Emo">Midwest Emo</a></li>
                            <li><a href="/viniluri#vFolk-Punk">Folk-Punk</a></li>
                            <li><a href="/viniluri#vMath-Rock">Math-Rock</a></li>
                        </ul>
                    </li>
                    <li><a href="/CD-uri">CD-uri</a>
                        <ul>
                            <li><a href="/CD-uri#cPop-Punk">Pop-Punk</a></li>
                            <li><a href="/CD-uri#cMidwest Emo">Midwest Emo</a></li>
                            <li><a href="/CD-uri#cFolk-Punk">Folk-Punk</a></li>
                            <li><a href="/CD-uricMath-Rock">Math-Rock</a></li>
                        </ul>
                    </li>
                    <li><a href="/galerie">Galerie</a>
                    </li>
                    <li><a href="/produse">Produse</a>
                        <ul>
                            <li><a href="/produse?tip=viniluri">Viniluri</a></li>
                            <li><a href="/produse?tip=cd-uri">CD-uri</a></li>
                        </ul>
                    </li>

                    <li class="liAcasa"><a href="/inreg">Înregistrare</a>
                    </li>
                    <li><a href="#">Contact</a></li>
                    <% if(locals.utilizator) { %>
                        <li><div><%- locals.utilizator.username %></div>
                            <ul>
                                <li><a href="/profil">Profil</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    <% } %>

                </ul>
            </nav>
        </div>
        <div>
        <% if(!locals.utilizator) { %>    
        <form id="form_inreg"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
            <p>
                <label>
                    Username: <input type="text" name="username" id="inp-username" value="prof<%= Math.floor(Math.random()*100000) %>" required pattern="[A-Za-z0-9]+">
                </label>
            </p>
            <p>
                <label>
                    Parola: <input id="parl" type="password" required  name="parola" value="">
                </label>
            </p>
            <p>
                <input type="submit" value="Logare">
            </p>
        </form>
        <% } %>
        </div>
    </header>

